@media (max-width: 768px) {
  :root{ 
    --main-color:#0065FC; 
    --lightblue:#DEEBFF;
    --lightgrey:#F2F2F2;
    --skyblue:#77b5fe;
    --box-shadow: lightgray 0px 0px 15px;
} 

  
  
  /* -----------Header-----------*/
header {
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  .header nav {
    align-self: stretch;
    height: 60px;
  }
  nav ul li a:hover{
    border-bottom: solid 2px var(--main-color);
    border-top: none;
    display: flex;
    justify-content: start;
  }
  header h1{
    flex-wrap: wrap;
  }
/*-------------Recherche----------*/

  form{
    width: auto;
  }
  .search-icon{
    display: inline-block;
  }

  button .research_m{
   display: none;
  }
  .button1 .fa-solid{
    display:inline;
  }

  .fa-location-dot:before, .fa-map-marker-alt:before{
    position: relative;
    top: 9px;
    left: 10px;
  }

/*-----------Filtres------*/

.filters_list{
  display: block;
  flex-direction: column;
}
.filter{
  margin-bottom: 10px;
}

  /*-------------Les logements----------*/

  .accommodations{
    display: flex;
    flex-direction: column;
  }

  .accommodations > div{
    margin: 0px;
    margin-bottom: 20px;
  }

  .accommodations .lodging{
    background-color: transparent;
  }
 
  .lodging img{
    width: 350px;
    object-fit: cover;
  
  }
  .lodging div{/*
    width: 350px;
    margin-bottom: 20px;*/
  }

  .accommodations .apartment{
    border: 1px solid var(--lightgrey);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 95%;
    margin-bottom: 40px;
    display: flex;
  }

  .afficher_plus{
   font-size: large;
  }
  .flat{
    justify-content:flex-start ;
  }
  .flat div{
    flex-basis: unset;
    display: flex;
    flex-direction: column;
  }


/*-------------Les plus Populaires-----------*/
  .populars{
    display: flex;
    flex-direction: column;
    order: -1;
    margin-bottom: 30px;
   /* width: 400px;*/
    justify-content: space-between;
  }

  .populars .card__rating-star{
    margin-top: 0px ;
    font-size: small;
  }

 
 .populars div{
    margin-bottom: 2%;
 }

 .populars .apartment{
  
    /*width: 350px;*/
    width: 93%;
    height: 128px;
    padding: 3px;
 }
 .populars img{
  height: 120px;
 }

 .populars h3{
   font-size: medium;
 }

 
 }

 /*------------Activités----------------*/
.activities{
  /*margin-top: 870px;*/
}
 .activities div{
  flex-direction: column;
}
.cards_l{
  margin-bottom: 40px;
  position: relative;
  right: 12px;

}

.activities img{
  width: 349px;
  height: 118px;
}

.all_cards_first div{
  width: 350px;
  height: 170px;
  border: solid var(--lightgrey) 1px;
  margin-bottom: 40px;
}

.all_cards_second div{
  width: 350px;
  height: 170px;
  border: solid var(--lightgrey) 1px;
}

.all_cards_first{
  margin-bottom: 210px;
}
.activities .block{
  border: none;
}


/*-------------FOOTER----------*/
footer{

  display: block;
  flex-direction: column;
  margin-top: 250px;
  width: 350px;
}
}