@media (max-width: 768px) {
  :root{ 
    --main-color:#0065FC; 
    --lightblue:#DEEBFF;
    --lightgrey:#F2F2F2;
    --skyblue:#77b5fe;
    --box-shadow: lightgray 0px 0px 15px;
} 

  
  
  /* -----------Header-----------*/
header {
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  .header nav {
    align-self: stretch;
    height: 60px;
  }
  nav ul li a:hover{
    border-bottom: solid 2px var(--main-color);
    border-top: none;
    display: flex;
    justify-content: start;
  }
  header h1{
    flex-wrap: wrap;
  }

  nav ul li a:hover{
    padding-top: 0px;
  }
/*-------------Recherche----------*/

  form{
    width: auto;
  }
  .search-icon{
    display: inline-block;
  }

  button .research_m{
   display: none;
  }
  .button1 .fa-solid{
    display:inline;
  }

  .fa-location-dot:before, .fa-map-marker-alt:before{
    position: relative;
    top: 9px;
    left: 10px;
  }

/*-----------Filtres------*/

.filters_list{
  display: block;
  flex-direction: column;
}
.filter{
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  body {
      padding: 0px 20px;
  }
  
  /*------------------ HEADER--------------------*/
  
  header {
      flex-direction: column;
  }
  
  header #logo {
      margin: auto;
  }
  
  header nav ul {
      margin: 0px -20px;
      padding: 0;
  }
  
  header nav ul li {
      width: 50%;
      padding: 20px;
      text-align: center;
      margin: 0px;
      border-top: none;
      border-bottom: 2px solid var(--grey);
  }
  
  /*-----------------------------RECHERCHE-----------*/
  
  #filter .filtre-box{
      margin-bottom: 10px;
  }
  .search-box button {
      border-radius: 15px;
  }
  
  .search-box button span {
      display: none;
  }
  
  .search-box button .fa-search {
      display: block;
  }
  
  #filter {
      flex-direction: column;
      align-items: flex-start;
  }
  
  #hebergement .marseille {
      order: 2;
  }
  
  #hebergement .populaire {
      order: 1;
  }
  
  #hebergement .marseille .hebergement-list {
      flex-direction: column;
  }
  
  #hebergement .marseille .hebergement-list a {
      width: 100%;
  }
  
  #activite .activite-list .column {
      width: 100%;
  }
  
  .activite-list .column article,
  .activite-list .column.double article {
      height: 250px;
      margin-bottom: 20px;
  }
  
  footer {
      flex-direction: column;
  }
  }
 /*------------Activités----------------*/

 .activities div{
  flex-direction: column;
}
.cards_l{
  margin-bottom: 40px;
  position: relative;
  right: 12px;

}

.activities img{
  width: 349px;
  height: 118px;
}

.all_cards_first div{
  width: 350px;
  height: 170px;
  border: solid var(--lightgrey) 1px;
  margin-bottom: 40px;
}

.all_cards_second div{
  width: 350px;
  height: 170px;
  border: solid var(--lightgrey) 1px;
}

.all_cards_first{
  margin-bottom: 210px;
}
.activities .block{
  border: none;
}


/*-------------FOOTER----------*/
footer{

  display: block;
  flex-direction: column;
  margin-top: 250px;
  width: 350px;
}
}